[submodule "dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tpm"]
	path = terminals/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh-autosuggestions"]
	path = shells/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = shells/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "fzf-zsh-plugin"]
	path = shells/zsh/fzf-zsh-plugin
	url = https://github.com/unixorn/fzf-zsh-plugin.git
[submodule "powerlevel10k"]
	path = shells/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "gui/candy-icons"]
	path = gui/candy-icons
	url = https://github.com/EliverLara/candy-icons.git
[submodule "meta/dotbot-paru"]
	path = meta/dotbot-paru
	url = https://github.com/michaelray27/dotbot-paru.git
